<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="../static/css/home.css">
  <style type="text/css">
    * {margin: 0; padding: 0;}
    .container {width:100%; font-size: 0;}
    .first, .second, .third, #fourth, #fifth {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
    .leaf {width: 40px; height: auto}
  </style>
  <style>
    body {
    background-image: url("https://66.media.tumblr.com/c1704b4f05376aba09c74eb85e5cfad0/tumblr_piq55e7Czv1v5gxcwo7_1280.png");
    }
  </style>
</head>

<body style="font-family: 'Abadi MT Condensed',serif; text-align: center; color: #404040">
  <div style="width: 20%; height: 100vh; background-color: white">

    <div style="padding-bottom: 20%;">
      <p style="font-size: 45px; padding-top: 25px; margin: 10px 0 0 0"> <b>Know my data</b></p>
      <p style="font-size: 30px; margin: 0 0 0 0">Welcome back, <b>Leena!</b><p>
    </div>

    <div class="container" style="position: relative; bottom: 40px">
      <div class="first"><img class="leaf" src="http://www.clker.com/cliparts/e/6/e/1/11954250431240868368leaf_ja_jacek_adamkiewic_01.svg.hi.png"></div>
      <div class="second"><img class="leaf" src="http://www.clker.com/cliparts/e/6/e/1/11954250431240868368leaf_ja_jacek_adamkiewic_01.svg.hi.png"></div>
      <div class="third"><img class="leaf" src="http://www.clker.com/cliparts/e/6/e/1/11954250431240868368leaf_ja_jacek_adamkiewic_01.svg.hi.png"></div>
      <div id="fourth"><img class="leaf" src="http://www.clker.com/cliparts/e/6/e/1/11954250431240868368leaf_ja_jacek_adamkiewic_01.svg.hi.png"></div>
      <div id="fifth"><img class="leaf" src="http://www.clker.com/cliparts/e/6/e/1/11954250431240868368leaf_ja_jacek_adamkiewic_01.svg.hi.png"></div>
    </div>

    <div style="padding-bottom: 10%; border-top-style: solid; border-width: 1px; width: 90%; margin: auto">
      <!--SHOULD GET DATA FROM API HERE-->
      <p style="text-align: left; font-size: 50px; padding-top: 15px"><b>190</b></p>
      <p style="font-size: 30px; text-align: left; padding-top: 15px">Your sustainability credits</p>
      <div style="width: 335px;height: 62px; border-radius: 31px; color: #438e65; border: solid #438e65; margin-top: 35px">
        <a style="font-size: 30px; position: relative; top: 10px">Redeem credits</a>
      </div>
    </div>

    <div style="padding-bottom: 50%; border-top-style: solid; border-width: 1px; width: 90%; margin: auto">
      <p style="font-size: 32px; padding-top: 25px; text-align: left">You need <span style="color: #75ba7b">0.5</span> more points to be a <span style="color: #75ba7b">Green Ninja!</span></p>
    </div>

    <div>
      <img style="width: 370px; height: auto" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/46698292_2028960323864246_8545985969776492544_n.jpg?_nc_cat=107&_nc_ht=scontent-arn2-1.xx&oh=df845170102170f8615b2d10aa4ad432&oe=5CAD4539">
    </div>

  </div>
  <div>
    <div id="myCity" style="position: relative; bottom: 1200px; left: 475px; width: 30%">
      <img src="https://66.media.tumblr.com/044193317731675ce53541057fec15c4/tumblr_piq55e7Czv1v5gxcwo10_540.png">
    </div>

    <div id="user" style="position: relative; bottom: 1250px; left: 990px; width: 25%">
      <img src="https://66.media.tumblr.com/16bf18979dc7872c335c07b0169abb89/tumblr_piq55e7Czv1v5gxcwo2_400.png">
    </div>

    <div id="neighborhood" style="position: relative; bottom: 1850px; left: 1450px; width: 27%">
      <img src="https://66.media.tumblr.com/47b7afc5d5e8df369929bdcc6e147278/tumblr_piq55e7Czv1v5gxcwo6_540.png">
    </div>

    <div id="planet" style="position: relative; bottom: 2500px; left: 1675px; width: 20%">
      <img src="https://66.media.tumblr.com/e69f0dc9058d78c7a2367a93a549326e/tumblr_piq6m8IzKF1v5gxcwo1_250.png">
    </div>
  </div>

  <div class="container" style="position: relative; bottom: 1745px; left: 200px">
    <div class="first"><img  src="https://66.media.tumblr.com/6209dc3f7e8de68dc1acadbdd482922e/tumblr_piq55e7Czv1v5gxcwo9_500.png"></div>
    <div class="second" style="padding-left: 50px; padding-right: 50px"><img  src="https://66.media.tumblr.com/211684211b2ec0bf73a58e846285de58/tumblr_piq55e7Czv1v5gxcwo8_500.png"></div>
    <div class="third"><img  src="https://66.media.tumblr.com/4bcf9a6c6c7ff2f37d0d30c3b2a1a388/tumblr_piq55e7Czv1v5gxcwo1_500.png"></div>
  </div>


</body>
</html>
